{% extends 'ACInst3Bundle::admin_layout.html.twig' %}

{% block content_in %}
<h1>Grid list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Dir</th>
            <th>Style_props</th>
            <th>Class_props</th>
            <th>Target_controller</th>
            <th>Target_params</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_grid_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.dir }}</td>
            <td>{{ entity.styleprops }}</td>
            <td>{{ entity.classprops }}</td>
            <td>{{ entity.targetcontroller }}</td>
            <td>{{ entity.targetparams }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_grid_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_grid_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_grid_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
